!!! 5
%html
  %head
    %title VER - Vim & Emacs in Ruby
    %link{:rel => "stylesheet", :href => "stylesheets/screen.css", :type => "text/css", :media => "screen"}
    -# %script{:type => "text/javascript", :src  => "public/js/jquery-1.4.1.min.js"}
    -# %script{:type => "text/javascript", :src  => "public/js/core.js"}
    -# %script{:type => "text/javascript", :src  => "public/js/kikofx.carousel.js"}

  %body.home
    %header
      .container
        %h1
          %a{:href => 'index.html'}
            <span id='logo-copy'><span id='capital-v'>V</span>im<span class='conjunction'>&</span><span id='capital-e'>E</span>macs<span class='conjunction'>in</span><span id='capital-r'>R</span>uby</span>

        %nav
          %ul
            %li
              %a{:href =>"install.html"} Download
            %li
              %a{:href =>"docs.html"} Docs
            %li
              %a{:href =>"development.html"} Development

    %section#carousel
      .container
        %h2
          %img{:alt => "Change Me", :src =>"public/images/title.png"}
        %dl#speaks
          %h3 LIVE from the world
          %dd
            %p I love VER so much!
          %img#triangle{:src => 'public/images/triangle.png'}
          %dt
            %a{:href => '#'} Michael Fellinger
            %img{:src => 'public/images/michael.png'}
            %p 1 hour ago from twitter
        #promo
          %img{:src => 'public/images/demo.png'}
          %ul
            %li
              %a{:href => '#'} Watch Demo
            %p or
            %li
              %a{:href => 'download.html'} Download

    %section#articles
      .container
        %article#ruby
          %h3 It's Pure Ruby
          %p
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur
            massa lectus, ullamcorper sit amet lacinia non, adipiscing at nunc.
            Fusce orci nulla, varius in commodo et, viverra quis urna. Praesent
            lacinia pulvinar
          %img{:alt => "Change Me", :src =>"public/images/ruby.png"}

        %article#oss.omega
          %h3 Free and Open Source Forever
          %p
            ellentesque sed nisi vitae elit adipiscing tempus. Etiam lobortis
            est non est varius hendrerit. Nullam a vestibulum arcu. Phasellus
            nec elit eros, sed sollicitudin metus. Praesent id nibh dolor.
            Aenean malesuada elit sit amet purus luctus
          %img{:alt => "Change Me", :src =>"public/images/github.png"}

        %article#modal
          %h3 Modal / Non-Modal
          %p
            Curabitur ultrices fringilla odio, at gravida ipsum venenatis et.
            Aenean pellentesque dapibus tincidunt. Nunc egestas neque ut est
            condimentum pulvinar. Aliquam justo ante, consequat in egestas nec,
            lobortis sit amet diam.
          %img{:alt => "Change Me", :src =>"public/images/modal.png"}

        %article#platform.omega
          %h3 Multi Platform
          %p
            Nulla neque nibh, commodo et euismod vel, elementum id nibh. Aliquam
            non neque ipsum, quis ultricies tortor. Praesent ut justo id tortor
            ullamcorper pretium. Curabitur mattis velit sed metus faucibus eget
          %img{:alt => "Change Me", :src =>"public/images/platform.png"}

        %article#tm
          %h3 Textmate Bundles
          %p
            Duis eros libero, facilisis ut laoreet in, pharetra at odio.
            Phasellus rutrum justo vitae diam adipiscing ultrices. Proin
            ullamcorper, diam et commodo tincidunt, justo tellus condimentum
            neque, a viverra nulla libero a eros. Nam facilisis elit nec dolor
            pulvinar nec rhoncus libero ullamcorper. Pellentesque nulla tellus,
          %img{:alt => "Change Me", :src =>"public/images/tm.png"}

    #footer
      .container
        %span Follow us on
        %img#twitter{:alt=>"Twitter", :src=>"public/images/twitter-logo.png"}
        %p Copyright &copy; 2009-2010 Michael Fellinger, some rights reserved.
        %p Made by Kiko Uehara
        %a{:rel=>"license", :href=>"http://creativecommons.org/licenses/by-sa/2.1/jp/"}
          -#%img{:alt=>"Creative Commons License", :src=>"http://i.creativecommons.org/l/by-sa/2.1/jp/80x15.png"}
        %a{:href=>"http://ramaze.net"}
          -#%img{:alt=>"Powered by Ramaze",:src=>"/ramaze.png"}
